{% extends "layout.nunjucks" %}
{% block content %}
{% import '../templates/partials/navigation.html' as nav %}{{nav.active('je')}}
{% include "../templates/partials/banner-je.html" %}

	<section id="suisJe">
	    <article class="container">
	    	<div class="suisJe__mainContent">
	    		<div class="row">
	    			<div class="suisJe__leftContent col-sm-8">	    				
	    				<div class="suisJe__leftContent__mainBox">
	    					<div class="icon-suisJe">
	    						<img src="images/suisJe.png" alt="suisJe">
	    					</div>
	    					<h2>L’HISTOIRE</h2>
	    					<p>L’idée de créer ce concept est venue du constat que nos concitoyens deviennent de plus en plus<br>sédentaires tout en prenant pourtant très à coeur le choix de leur alimentation. </p>
	    					<p>Les médias parlent de plus en plus des maladies causées par une mauvaise alimentation et<br>
	    					nous alerte. Nos concitoyens font donc plus attention à leur santé à travers leurs activités mais<br>
	    					surtout par ce qu’ils choisissent dans leurs assiettes.</p>
	    					<p>Mon idée a vu le jour quelques temps après mon arrivée dans cette magnifique région de  la<br>
	    					Haute Savoie, dans la ville d’Annecy ou j’ai plus particulièrement posé mes valises.</p>
	    					<p>A travers ce paysage, j’ai pu découvrir les montagnes, le lac et avoir le plaisir ou plutôt la chance<br>
	    					de vivre dans un environnement si privilégié, j’ai pris conscience que ma vie allait prendre un<br>
	    					nouveau tournant…</p>
	    					<p>Face à ce merveilleux décor, il me fut beaucoup trop tentant d’enfiler mes baskets pour aller<br>
	    					courir, gravir, escalader et atteindre les quelques sommets qui surplombent ce somptueux lac.<br>
	    					C’est alors que j’ai également commencer à surveiller en parallèle mon alimentation afin d’ob<br>
	    					tenir un corps plus en accord avec moi-même. Un corps plus sain et dessiné, que je nourris<br>
	    					principalement d’aliments sains et équilibrés.<br>
	    					En voyant les changements sur mon corps et mon esprit, j’ai su que le chemin que j’empruntais<br>
	    					été le bon, celui qu’il me fallait prendre, celui sur lequel je me sentais le mieux.</p>
	    					<p>Mais lorsque je souhaitais manger à l’extérieur, déjeuner rapidement entre deux rdv, reprendre<br>
	    					des forces après une petite ascension du Mont Veyrier, recharger les batteries après ces cé<br>
	    					lèbres 42km à vélo ou encore pour un moment de détente au lac, je me retrouvais systématique<br>
	    					ment face à une réelle problématique</p>
	    					<span class="signature"><img src="images/signature.png" alt="signature"></span>
	    				</div>
	    			</div>
	    			<div class="suisJe__rightContent text-center col-sm-4">
	    				<div class="suisJe__rightContent__mainBox">
	    					<div class="suisJe__listItem">
	    						<p>
	    							« Quel restaurant aujourd’hui<br>
									<b>m’oriente et me propose</b><br>
									<b>des plats en fonction de</b><br>
									mes besoins nutritionnels ? »
	    						</p>
	    					</div>
	    					<div class="suisJe__listItem">
	    						<p>
	    							DGF est le 1er restaurant<br>
									diététiquequi offre aux<br>
									consommateurs des plats<br>
									adaptés à leurs réels<br>
									besoins nutritionnels.
	    						</p>
	    					</div>
	    					<div class="suisJe__listItem">
	    						<p>
	    							« Ou puis-je manger<br>
									<b>sainement et équilibré</b><br>
									sur Annecy ? »
	    						</p>
	    					</div>
	    					<div class="suisJe__listItem">
	    						<p>
	    							C’est pour faire face à<br>
									cette problématique,<br>
									que beaucoup d’entre nous<br>
									rencontrent, que j’ai décidé<br>
									<b>de créé Dr Good Food !!</b>
	    						</p>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </article>
	</section>
	<!-- /suisJe -->
{% endblock %}