{% extends "layout.nunjucks" %}
{% block content %}
{% import '../templates/partials/navigation.html' as nav %}{{nav.active('NOSPLATS')}}
{% include "../templates/partials/banner-nosplats.html" %}

	<section id="noslpatsMenu" class="theme-tabs">
	    <article class="container">
	    	<div class="row">
	    		<div class="noslpatsMenu__listItem noslpatsMenu__listItemFirst col-md-3 col-xs-6">
	    			<div class="noslpatsMenu__wrap">
		    			<div id="1" class="noslpatsMenu__thumb active">
		    				<img src="images/noslpatsMenu1.png" alt="thumb">
		    				<img class="thumb-hover" src="images/noslpatsMenu1-hover.png" alt="thumb">
		    			</div>
	    			</div>
	    			<h3><a href="#" title="sport &amp; perform">sport &amp; perform</a></h3>
	    		</div>
	    		<div class="noslpatsMenu__listItem col-md-3 col-xs-6">
	    			<div class="noslpatsMenu__wrap">
		    			<div id="2" class="noslpatsMenu__thumb">
		    				<img src="images/noslpatsMenu2.png" alt="thumb">
		    				<img class="thumb-hover" src="images/noslpatsMenu2-hover.png" alt="thumb">
		    			</div>
	    			</div>
	    			<h3><a href="#" title="pure &amp; care">pure &amp; care</a></h3>
	    		</div>
	    		<div class="noslpatsMenu__listItem col-md-3 col-xs-6">
	    			<div class="noslpatsMenu__wrap">
		    			<div id="3" class="noslpatsMenu__thumb">
		    				<img src="images/noslpatsMenu3.png" alt="thumb">
		    				<img class="thumb-hover" src="images/noslpatsMenu3-hover.png" alt="thumb">
		    			</div>
	    			</div>
	    			<h3><a href="#" title="veg &amp; free">veg &amp; free</a></h3>
	    		</div>
	    		<div class="noslpatsMenu__listItem col-md-3 col-xs-6">
	    			<div class="noslpatsMenu__wrap">
		    			<div id="4" class="noslpatsMenu__thumb">
		    				<img src="images/noslpatsMenu4.png" alt="thumb">
		    				<img class="thumb-hover" src="images/noslpatsMenu4-hover.png" alt="thumb">
		    			</div>
	    			</div>
	    			<h3><a href="#" title="yummy &amp; energy">yummy &amp; energy</a></h3>
	    		</div>
	    	</div>
	    </article>
	</section>
	<!-- /noslpatsMenu -->

	<section data-catid="1" id="sportPerformNoslpats" class="baseProduct"> 
		<article class="container"> 
			<div class="sportPerformNoslpats__thumb">
				<img src="images/sportPerformNoslpats.png" alt="thumb">
			</div>
			<div class="sportPerformNoslpats__arow visible-md visible-lg">
				<img src="images/sportPerformNoslpats__arow.png" alt="arow">
			</div>
		</article>
	</section>
	<!-- /sportPerformNoslpats -->

	<section data-catid="2" id="sportPerformNoslpats" class="baseProduct pure"> 
		<article class="container "> 
			<div class="sportPerformNoslpats__thumb">
				<img src="images/sportPerformNoslpats.png" alt="thumb">
			</div>
			<div class="sportPerformNoslpats__arow visible-md visible-lg">
				<img src="images/sportPerformNoslpats__arow.png" alt="arow">
			</div>
		</article>
	</section>
	<!-- /sportPerformNoslpats -->

	<section data-catid="3" id="sportPerformNoslpats" class="baseProduct veg"> 
		<article class="container"> 
			<div class="sportPerformNoslpats__thumb">
				<img src="images/sportPerformNoslpats.png" alt="thumb">
			</div>
			<div class="sportPerformNoslpats__arow visible-md visible-lg">
				<img src="images/sportPerformNoslpats__arow.png" alt="arow">
			</div>
		</article>
	</section>
	<!-- /sportPerformNoslpats -->

	<section data-catid="4" id="sportPerformNoslpats" class="baseProduct yummy"> 
		<article class="container"> 
			<div class="sportPerformNoslpats__thumb">
				<img src="images/sportPerformNoslpats.png" alt="thumb">
			</div>
			<div class="sportPerformNoslpats__arow visible-md visible-lg">
				<img src="images/sportPerformNoslpats__arow.png" alt="arow">
			</div>
		</article>
	</section>
	<!-- /sportPerformNoslpats -->

	<section id="postThumbnail">
		<article class="container"> 
			<div class="row">
				<div class="postThumbnail__listItem col-md-6">
					<div class="postThumbnail__wrap">
		    			<div class="postThumbnail__mainItem">
		    				<img src="images/sportPerformItem.png" alt="sportPerformItem">		    				
		    			</div>
		    			<div class="postThumbnail__textBox">
		    				<h2>le run</h2>
		    				<p>Base : omelette (2oeufs)</p>    	
		    				<p>Crudités : betterave /courgette / epinard </p>	
		    				<p><b>Féculent : Quinoa / Lentilles</b></p>
		    				<p>Sauce : guacamole</p>
		    			</div>
	    			</div>
				</div>
				<div class="postThumbnail__listItem col-md-6">
					<div class="postThumbnail__wrap">
		    			<div class="postThumbnail__mainItem">
		    				<img src="images/sportPerformItem.png" alt="sportPerformItem">		    				
		    			</div>
		    			<div class="postThumbnail__textBox">
		    				<h2>le run</h2>
		    				<p>Base : omelette (2oeufs)</p>    	
		    				<p>Crudités : betterave /courgette / epinard </p>	
		    				<p><b>Féculent : Quinoa / Lentilles</b></p>
		    				<p>Sauce : guacamole</p>
		    			</div>
	    			</div>
				</div>
			</div>
		</article>
	</section>
	<!-- /sportPerformNoslpats -->

{% endblock %}