<!-- FOOTER -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__wrap">
                <div class="footer-top-logo">
                    <img class="footer-top-logo__static" src="assets/images/logo.png" alt="">
                    <img class="footer-top-logo__gif" src="assets/images/logo.gif" alt="">
                </div>
                <div class="footer-top-menu">
                    <a href="">Home</a>
                    <a href="">Investing in Vail</a>
                    <a href="">Investment Performance</a>
                    <a href="">Cost of Ownership</a>
                    <a href="">Investment Characteristics</a>
                    <a href="">Map & Area</a>
                    <a href="">Community</a>
                </div>
                <div class="footer-top-menu">
                    <a href="">Property Search</a>
                    <a href="">VPB Listings</a>
                    <a href="">Sell Your Home</a>
                    <a href="">Supply vs. Demand</a>
                    <a href="">FAQ</a>
                    <a href="">About</a>
                    <a href="">What is a buyer broker</a>
                </div>
                <div class="footer-top-contact">
                    <div class="footer-top-contact__address">2217 Vermont Court<br>Vail, CO 81657</div>
                    <div class="footer-top-contact__phone">970 476 8850</div>
                    <a href="" class="footer-top-contact__link">Email Us</a>
                    <a href="" class="footer-top-contact__link">Download Newsletter</a>
                    <a href="" class="footer-top-contact__fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="footer-top-signup">
                    <div class="footer-top-signup__text1">Newsletter Signup</div>
                    <div class="footer-top-signup__text2">Stay in the know.</div>
                    <input class="footer-top-signup__input" type="text" placeholder="Full Name">
                    <input class="footer-top-signup__input" type="text" placeholder="Email Address">
                    <button class="footer-top-signup__btn">Sign up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container">
            <div class="footer-bot__copy">Copyright 2017 &#160; Vail Property Brokerage &#160; | &#160; All Rights Reserved &#160;<img src="assets/images/r.png" alt=""></div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->