<!-- HEADER -->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <span>|</span>
                <li class="nav-item">
                    <a class="nav-link" href="#">INVESTING IN VAIL</a>
                </li>
                <span>|</span>
                <li class="nav-item">
                    <a class="nav-link" href="#">PROPERTY SEARCH</a>
                </li>
                <span>|</span>
                <li class="nav-item">
                    <a class="nav-link" href="#">VPB LISTINGS</a>
                </li>
                <span>|</span>
                <li class="nav-item">
                    <a class="nav-link" href="#">SELL YOUR HOME</a>
                </li>
                <span>|</span>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </nav>
</header>
<!-- END HEADER -->