<!-- INTRODUCE -->
<section class="introduce">
    <div class="container">
        <div class="introduce__wrap">
            <div class="introduce-dd">
                <div class="introduce-dd__title">DISTINCTLY DIFFERENT</div>
                <div class="introduce-dd__content">We would like to congratulate you on past successes and for your interest in learning more about world class property ownership in the Vail Valley. As the only vacation home investment advisory company in the Central Rockies, Vail Property
                    Brokerage has joined forces with Coldwell Banker, the world’s largest real estate company, in order to achieve a balance of lifestyle enhancement and financial performance that makes intuitive sense. We have gone to great lengths to
                    simplify this complex and idiosyncratic world based upon hundreds of client experiences over the past 40 years, 23 of which have been in the Vail Valley as buyer broker specialists.</div>
            </div>
            <!-- end introduce-dd -->

            <div class="introduce-or">
                <div class="row">
                    <div class="col-md-6">
                        <div class="introduce-or__left">
                            <div class="introduce-or__title">Our Research Centric Company Is:</div>
                            <ul class="introduce-or__text1">
                                <li>Lifestyle and asset valuation driven</li>
                                <li>Analytics and data focused</li>
                                <li>A fierce client advocate with no hidden agendas or undisclosed conflicts of interest</li>
                            </ul>
                            <div class="introduce-or__text2">When you are ready to explore the many advantages of world class resort property living please call us for more immediate information. </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="introduce-or__right">
                            <iframe id="introduceOrVideo" width="100%" src="https://www.youtube.com/embed/CteEXFXdxSY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end introduce-or -->

            <div class="introduce-fe">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <article class="introduce-fe-blade introduce-fe-blade--stroke">
                            <img class="introduce-fe-blade__img" src="assets/images/fe1.png" alt="">
                            <div class="introduce-fe-blade__title">Ski Proximate<br>Neighborhood Update</div>
                            <div class="introduce-fe-blade__summary">Data analysis confirms that we are certainly past the bottom of the longest lasting downturn…</div>
                            <a class="introduce-fe-blade__more" href="#">READ MORE</a>
                        </article>
                    </div>
                    <!-- end item -->
                    <div class="col-sm-6 col-lg-3">
                        <article class="introduce-fe-blade introduce-fe-blade--stroke">
                            <img class="introduce-fe-blade__img" src="assets/images/fe2.png" alt="">
                            <div class="introduce-fe-blade__title">Search Market<br>for the Perfect Home</div>
                            <div class="introduce-fe-blade__summary">The Vail Board of Realtors entire Multiple Listing Service (MLS) data base is on-line and…</div>
                            <a class="introduce-fe-blade__more" href="#">READ MORE</a>
                        </article>
                    </div>
                    <!-- end item -->
                    <div class="col-sm-6 col-lg-3">
                        <article class="introduce-fe-blade">
                            <img class="introduce-fe-blade__img" src="assets/images/fe3.png" alt="">
                            <div class="introduce-fe-blade__title">How will it perform<br>as an investment?</div>
                            <div class="introduce-fe-blade__summary">Opportunity cost of diverted capital is an important consideration for most clients when evaluating…</div>
                            <a class="introduce-fe-blade__more" href="#">READ MORE</a>
                        </article>
                    </div>
                    <!-- end item -->
                    <div class="col-sm-6 col-lg-3">
                        <article class="introduce-fe-blade">
                            <img class="introduce-fe-blade__img" src="assets/images/fe4.png" alt="">
                            <div class="introduce-fe-blade__title">The Importance of<br>a Buyer Broker</div>
                            <div class="introduce-fe-blade__summary">The real estate brokerage industry is steeped in a tradition that is not well understood by industry…</div>
                            <a class="introduce-fe-blade__more" href="#">READ MORE</a>
                        </article>
                    </div>
                    <!-- end item -->
                </div>
            </div>
            <!-- end introduce-fe -->

            <div class="introduce__stroke"></div>
            <div class="introduce__slogan">BECAUSE IT’S NOT ONLY A HOME … IT’S AN INVESTMENT</div>
            <div class="introduce__stroke"></div>
            <div class="introduce__pdf">Footnote 1:&#160; COLORADO AGENCY DEFINITION (<a href="#">Download PDF</a>)</div>
        </div>
    </div>
</section>
<!-- END INTRODUCE -->