<!-- NEWS BLOG -->
<section class="news-blog">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="news-blog-blade">
                    <div class="news-blog-blade__img">
                        <a class="news-blog-blade__img-background" href="#" style="background:url(assets/images/nb1.png) center center; background-size: cover;"></a>
                    </div>
                    <div class="news-blog-blade__title">Vail Property Search</div>
                    <div class="news-blog-blade__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum vel metus quis feugiat. <a class="news-blog-blade__more" href="#">LEARN MORE</a></div>
                </article>
            </div>
            <!-- end item -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="news-blog-blade">
                    <div class="news-blog-blade__img">
                        <a class="news-blog-blade__img-background" href="#" style="background:url(assets/images/nb2.png) center center; background-size: cover;"></a>
                    </div>
                    <div class="news-blog-blade__title">CTA TBD</div>
                    <div class="news-blog-blade__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum vel metus quis feugiat. <a class="news-blog-blade__more" href="#">LEARN MORE</a></div>
                </article>
            </div>
            <!-- end item -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="news-blog-blade">
                    <div class="news-blog-blade__img">
                        <a class="news-blog-blade__img-background" href="#" style="background:url(assets/images/nb3.png) center center; background-size: cover;"></a>
                    </div>
                    <div class="news-blog-blade__title">CTA TBD</div>
                    <div class="news-blog-blade__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum vel metus quis feugiat. <a class="news-blog-blade__more" href="#">LEARN MORE</a></div>
                </article>
            </div>
            <!-- end item -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="news-blog-blade">
                    <div class="news-blog-blade__img">
                        <a class="news-blog-blade__img-background" href="#" style="background:url(assets/images/nb4.png) center center; background-size: cover;"></a>
                    </div>
                    <div class="news-blog-blade__title">INTERESTED IN SELLING</div>
                    <div class="news-blog-blade__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum vel metus quis feugiat. <a class="news-blog-blade__more" href="#">LEARN MORE</a></div>
                </article>
            </div>
            <!-- end item -->
        </div>
    </div>
</section>
<!-- END NEWS BLOG -->