<!-- SLIDER BANNER -->
<section class="slider-banner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background:url(assets/images/s1.png) center center; background-size: cover;">
                <div class="slider-banner__title">DISTINCTLY DIFFERENT</div>
            </div>
            <div class="carousel-item" style="background:url(assets/images/s2.png) center center; background-size: cover;">
                <div class="slider-banner__title">DISTINCTLY DIFFERENT</div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <img src="assets/images/icon-left.png" alt="">
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <img src="assets/images/icon-right.png" alt="">
        </a>
    </div>
    <div class="slider-banner-logo">
        <img class="slider-banner-logo__gif" src="assets/images/logo.gif" alt="">
        <span class="slider-banner-logo__separation"></span>
        <img class="slider-banner-logo__static" src="assets/images/logo.png" alt="">
    </div>
</section>
<!-- END SLIDER BANNER -->