$colorMain:#CB9A2B;
$colorBackground1:#F0EFEF;
$colorBackground2:#1F1F1F;
$colorText1:#383838;
$colorText2:#75797A;
$colorText3:#9B9A9A;
$colorText4:#CCCCCB;
$colorText5:#676767;
$colorBorder1:#EEEDEE;