	<footer>
    	<div class="footer__head text-center">
    		<h2>SUIVEZ-NOUS</h2>
    		<div class="footer__social">
    			<a title="Instagram" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    			<a title="Facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>    			
    			<a title="Twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    		</div>
    		<div class="footer__retrouvez">
    			<h3>Retrouvez nous au 34 rue sommeiller, 74000 ANNECY</h3>
    		</div>
    		<div class="footer__pour">
    			<h3>Pour une consultation gourmande & équilibrée, <span>composer le 06 45 89 52 14</span></h3>
    		</div>
    	</div>
    	<div class="footer__boot">
    		<div class="container">
    			<div class="row">
	    			<div class="footer__left col-md-5 hidden-sm hidden-xs">
	    				<p><a href="#" title="Nos plats">Nos plats</a> / <a href="#" title="Notre restaurant">Notre restaurant</a> / <a href="#" title="Notre carte">Notre carte</a><br><a href="#" title="Qui suis-je">Qui suis-je</a> / <a href="#" title="FAQ">FAQ</a> / <a href="#" title="FAQ">CGV</a></p>
	    			</div>
	    			<div class="footer__mid col-md-2 col-xs-6 text-center">
	    				<a href="#">
	    					<img src="images/footer-boot.png">
	    				</a>
	    			</div>
	    			<div class="footer__right col-md-5 col-xs-6">
	    				<form action="" method="get" accept-charset="utf-8">
	    					<div class="form-group">
	    						<input type="text" name="Newsletter" value="" placeholder="Newsletter">
	    						<button type="button" class="btn btn-white">OK</button>
	    					</div>
	    				</form>
	    			</div>
	    			<div class="footer__left footer__mobile text-center col-xs-12 visible-xs visible-sm hidden-md hidden-lg">
	    				<p><a href="#" title="Nos plats">Nos plats</a> / <a href="#" title="Notre restaurant">Notre restaurant</a> / <a href="#" title="Notre carte">Notre carte</a><br><a href="#" title="Qui suis-je">Qui suis-je</a> / <a href="#" title="FAQ">FAQ</a> / <a href="#" title="FAQ">CGV</a></p>
	    			</div>
	    		</div>
    		</div>
    	</div>
	</footer>
	<!-- /Footer -->