<div class="panier">
	<div id="recapitulatif">
	    <div class="container">	    	
	    	<div class="recapitulatif__mainBox">
	    		<div class="recapitulatif__contentBox">
	    			<div class="row">
	    				<div class="recapitulatif__mainContentBox col-md-6">
	    					<h2>Détail : </h2>
	    					<div class="recapitulatif__listGroup">
	    						<h3>BASE :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Wrapy </p>
		    						<hr>
	    						</div>
	    					</div>
	    					<div class="recapitulatif__listGroup">
	    						<h3>FÉCULENT :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Patate douce </p>
		    						<hr>
	    						</div>
	    					</div>
	    					<div class="recapitulatif__listGroup">
	    						<h3>INGRÉDIENT :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Epinard</p>
		    						<p><span>1</span> Celeri</p>
		    						<p><span>1</span> Courgette</p>
		    						<p><span>1</span> Avocat</p>
	    						<hr>
	    						</div>
	    					</div>
	    					<div class="recapitulatif__listGroup">
	    						<h3>SAUCE :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Houmous avec ail</p>
		    						<hr>
		    					</div>
	    					</div>
	    				</div>
	    				<div class="recapitulatif__mainContentBox col-md-6">
	    					<div class="recapitulatif__listGroup">
	    						<h3>BOISSON :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Ice tea <span class="pull-right">……… 2,50€</span></p>
		    						<hr>
		    					</div>
	    					</div>
	    					<div class="recapitulatif__listGroup">
	    						<h3>ENCAS :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Mousse<span class="pull-right">……… 3,50€</span></p>
		    						<hr>
		    					</div>
	    					</div>	
	    					<h2>Menu :</h2>
	    					<div class="recapitulatif__listGroup">
	    						<h3>ENCAS :</h3>
	    						<div class="recapitulatif__listGroup__main">
		    						<p><span>1</span> Prescription spéciale<span class="pull-right">……… 12€</span></p>
		    						<p><span>1</span> Dessert<span class="pull-right">……… 3,50€</span></p>
	    						<hr>
	    						</div>
	    					</div>	
	    					<div class="recapitulatif__listGroup">
	    						<p>Total<span class="pull-right">……… 15€</span></p>
	    						<hr>
	    					</div>
	    					<div class="recapitulatif__listGroup">
	    						<button type="button" class="btn btn-recapitulatif">POURSUIVRE MA COMMANDE</button>
	    						<button type="button" class="btn btn-recapitulatif">COMMANDER</button>
	    					</div>	
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<!-- /recapitulatif -->
	<div class="cartButton">
		<div class="text-box">
			<img src="images/cartButton.png" alt="cartButton">
		</div>
		<i class="theme-icon-cartButton"></i>
	</div>
</div>
